---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import
	"syntax"
;

div.row img:not(.emoji):not(.actual){
	width:100%;
}

ul.chcklist {
	list-style-type: none;
	li::before { content: "\2610"; margin-right: 0.5em; }
}


div.img-flame{
	height: 180px;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	img{
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}
